= form_for @contact do |f|
  %div
    Name: #{f.text_field :name}
    %br/
    Date of Birth: #{f.text_field :dob}
    %br/
    Email: #{f.text_field :email}
    %br/
  %br/

  %div{"data-controller" => "nested-form"}
    = f.fields_for :phones do |f|
      = render 'contacts/phone_fields', f: f      
    %template{"data-target" => "nested-form.template"}
      = f.fields_for :phones, Phone.new, child_index: 'New_RECORD' do |f|
        = render 'contacts/phone_fields', f: f
      
    .mb-3{"data-target" => "nested-form.links"}
      = link_to 'Add Phone', '#', class: 'btn btn-outline-primary', data: {action: 'click->nested-form#add_association'}
  
  %div
    = f.submit
