= form_for @contact do |f|
  - if @contact.errors.any?
    %div#error_explanation
      %h2= pluralize(@contact.errors.count, "error")
      %ul
        =@contact.errors.full_messages.each do |message|
          %li= message

  %div
    Name: #{f.text_field :name}
    %br/
    Date of Birth: #{f.date_field :dob}
    %br/
    Email: #{f.text_field :email}
    %br/
  %br/

  %div{"data-controller" => "nested-form"}
    = f.fields_for :phones do |f|
      = render 'contacts/phone_fields', f: f      
    %template{"data-target" => "nested-form.template"}
      = f.fields_for :phones, Phone.new, child_index: 'New_RECORD' do |f|
        = render 'contacts/phone_fields', f: f
      
    .mb-3{"data-target" => "nested-form.links"}
      = link_to 'Add Phone', '#', class: 'btn btn-primary btn-lg active', data: {action: 'click->nested-form#add_association'}
  
  %div
    = f.submit
