<h2><%= @contact.name %></h2>
<p><%= l(@contact.dob,:format => "%m/%d/%Y") %></p>
<p><%= @contact.age %></p>
<p><%= @contact.email %></p>
<ul>
    <li><%= link_to "Edit", edit_contact_path(@contact) %></li>
    <li><%= link_to "Destroy", contact_path(@contact), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
    } %></li>
</ul>
<h3>Phones</h3>
<%= render "phones/phone"%>

<%= link_to "Regresar", contacts_path %>





